body {
  font-family: 'Lato', sans-serif;
}
.navbar {
  margin-bottom: 0;
}

.jumbotron {
  background-color: #363435;
  color: #fff;
  margin-bottom: 0;
}

.jumbotron__logo,
.jumbotron__subtitle,
.jumbotron__button {
  max-width: 800px;
}

.jumbotron__logo {
  margin: 0 auto;
}

.jumbotron__subtitle {
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
  color: #AACD46;
}

.jumbotron__button {
  font-size: 1.5rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
}

.aside--left {
  background-color: #f6f6f6;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.form-search__btn--submit {
  margin-top: 0.5rem;
}

.anounce__title {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(73, 73, 73);
}

@media screen AND (min-width: 768px) {
  .jumbotron {
    margin-bottom: 30px;
  }
}

@media screen AND (min-width: 992px) {
  .jumbotron__button {
    font-size: 2rem;
    padding: 1.6rem 3rem;
  }
  .jumbotron__subtitle {
    font-size: 2.5rem;
  }
  .anounce__title {
    font-size: 1.6rem;
  }
}

@media screen AND (min-width: 1200px) {
  .anounce__title {
    font-size: 1.8rem;
  }
}
