.navbar {
  margin-bottom: 0;
}

.jumbotron {
  background-color: #363435;
  color: #fff;
}

.logo {
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
}

.anounce-title {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(73, 73, 73);
}

@media screen AND (min-width: 992px) {
  .anounce-title {
    font-size: 1.8rem;
  }
}
